* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

html{width:100%;height:100%;padding:0;margin:0;}
body{
    overflow:hidden;
    width: 1024px;
    height: 768px;  
    padding:0;
    margin:0;color:#000000;background:#fff;font:14px/18px 'Gotham', Helvetica, sans-serif;}

ul {list-style: none; padding:0;margin:0;}
ul ul {margin: 0;}
ul li {padding: 0;}

table {border-collapse: collapse;}
td,th {padding:0;}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  font-weight: normal;
}

img {max-width: 100%;}

#all-content {
    position: relative;
    width: 1024px;
    height: 768px;
    background: #fff;
    overflow: hidden;
}

#container {
    width: 1024px;
    height: 768px;
    background: #fff;
    overflow: hidden;
}

.middle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
    margin-right: -4px;
}

.slide {
    position: absolute;
    width: 1024px;
    height: 768px;
    background: #fff;
    left: 0px;
    top: 0px;
    opacity: 1;
    z-index: 10;
}
/*.slide.visible {
    opacity: 1;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}*/

.links {
    position: absolute;
    left: 44px;
    bottom: 17px;
    width: 81px;
    height: 22px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color: #D91E48;
    z-index: 10000;
}

.links:before {
    content: "ссылки";
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.links .links__list {
    position: absolute;
    width: 1026px;
    min-height: 72px;
    padding: 6px;
    color: #818181;
    background: #FFF;
    padding-left: 25px;
    padding-right: 70px;
    left: -45px;
    top: -22px;
    border-radius: 15px 15px 0 0;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -.5px;
    text-align: left;
    display: none;
    opacity: 0;
    list-style-type: none;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    z-index: -1;
    border: 1px solid #9c9c9c;
    border-bottom: none
}
.close {
    position: absolute;
    width: 27px !important;
    height: 40px;
    right: 20px;
    top: 15px;
    font-size: 37px;
    color: #ffffff;
    background: url(../images/shared/close.png) no-repeat;
    background-size: contain;
}
.links .links__list li {width: 100%;}
.links .links__list--string {width: 700px;}
.links__list--string li {
    display: inline-block;
    vertical-align: baseline;
}

.links.active .links__list {
    opacity: 1;
    z-index: 0;
    display:block;
}

.more-info {
    position: absolute;
    top: 120px;
    right: 35px;
    width: 68px;
    height: 68px;
    background: url(../img/info.png?v=22712233910);
    background-size: 100% 100%;
}

.logo {
    position: absolute;
    bottom: 18px;
    right: 33px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
}

sup {
    font-size: .6em;
    line-height: 1;
}

.show-fast {
    opacity: 0;
}
.visible .show-fast {
    opacity: 1;
    -webkit-transition: opacity .1s .1s;
    transition: opacity .1s .1s;
}
.visible .show-fast--2 {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.visible .show-fast--3 {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.visible .show-fast--4 {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.visible .show-fast--5 {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.visible .show-fast--6 {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}
.visible .show-fast--7 {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}
.visible .show-fast--8 {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
}
.visible .show-fast--9 {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}
.visible .show-fast--10 {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.visible .show-fast--11 {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
.visible .show-fast--12 {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
}
.visible .show-fast--13 {
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.visible .show-fast--14 {
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s;
}
.visible .show-fast--15 {
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.visible .show-fast--16 {
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s;
}
.visible .show-fast--17 {
    -webkit-transition-delay: 1.7s;
    transition-delay: 1.7s;
}
.visible .show-fast--border {
    -webkit-transition: .5s opacity 2.7s;
    transition: .5s opacity 2.7s;
}
.show {
    opacity: 0;
}
.visible .show {
    opacity: 1;
    -webkit-transition: opacity .1s .1s;
    transition: opacity .1s .1s;
}
.visible .show--2 {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.visible .show--3 {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.visible .show--4 {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.visible .show--5 {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.visible .show--6 {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}
.visible .show--7 {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}
.visible .show--8 {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
}
.visible .show--9 {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}

.hand {
    position: absolute;
    background: url('../img/blocks/hand.png') no-repeat;
    width: 42px;
    height: 42px;
    background-size: 100% 100%;
    -webkit-animation: push 0.7s linear 1s both;
    animation: push 0.7s linear 1s both;
    opacity: 0;
}
.hand--l {
    position: absolute;
    opacity: 0;
    width: 54px;
    height: 48px;
    background: url('../img/blocks/hand-l.png') no-repeat;
    background-size: contain;
}
.hand--r {
    position: absolute;
    opacity: 0;
    width: 54px;
    height: 48px;
    background: url('../img/blocks/hand-r.png') no-repeat;
    background-size: contain;
}

.hand--2 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.hand--3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.hand--4 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
.hand--5 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.hand--6 {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
.hand--7 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

@-webkit-keyframes push {
    0%    {opacity: 0;z-index: 100;}
    10%   {opacity: 1;}
    70%   {opacity: 1;}
    100%  {z-index:-1;opacity: 0;}
}
@keyframes push {
    0%    {opacity: 0;z-index: 100;}
    10%   {opacity: 1;}
    70%   {opacity: 1;}
    100%  {z-index:-1;opacity: 0;}
}
#logo {
    position: absolute;
    right: 13px;
    bottom: 19px;
    height: 36px;
    width: 101px;
    background: url(../img/logo.png?v=22712233910);
    background-size: 100% 100%;
}

.footnotes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 85px;
    z-index: 100001;
}

.footnotes img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 1024px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.footnotes--visible img {
    opacity: 1;
}